In [17]:
import pandas as pd
resul_primario = pd.read_excel('variaveis_uniao.xlsx')
df = pd.DataFrame
df = resul_primario.iloc[61, :]

[[Unnamed: 0                                                   NaN
  Unnamed: 1     5. RESULTADO PRIM√ÅRIO GOVERNO CENTRAL - ACIMA ...
  Unnamed: 2                                              0.017498
  Unnamed: 3                                              0.016521
  Unnamed: 4                                               0.02121
  Unnamed: 5                                              0.022748
  Unnamed: 6                                              0.025203
  Unnamed: 7                                              0.024267
  Unnamed: 8                                              0.020232
  Unnamed: 9                                              0.021193
  Unnamed: 10                                             0.022972
  Unnamed: 11                                             0.011832
  Unnamed: 12                                             0.020045
  Unnamed: 13                                             0.020997
  Unnamed: 14                                             0.017652
  Unnamed: 15                                             0.013534
  Unnamed: 16                                            -0.004063
  Unnamed: 17                                            -0.020098
  Unnamed: 18                                            -0.025725
  Unnamed: 19                                            -0.018869
  Unnamed: 20                                            -0.017164
  Unnamed: 21                                            -0.012865
  Unnamed: 22                                            -0.097673
  Unnamed: 23                                            -0.003941
  Unnamed: 24                                             0.005457
  Name: 61, dtype: object]]

In [41]:
df = resul_primario.iloc[61, :]
df = pd.DataFrame(df)
df.reset_index(inplace = True)
df.drop('index', axis = 1, inplace = True)
df.drop([0,1,24], axis = 0, inplace = True)
df.rename({61: 'resultado_primario'}, axis = 1, inplace = True)
anos = [i for i in range(2000, 2022)]
df.index = anos
df

     resultado_primario
2000           0.017498
2001           0.016521
2002            0.02121
2003           0.022748
2004           0.025203
2005           0.024267
2006           0.020232
2007           0.021193
2008           0.022972
2009           0.011832
2010           0.020045
2011           0.020997
2012           0.017652
2013           0.013534
2014          -0.004063
2015          -0.020098
2016          -0.025725
2017          -0.018869
2018          -0.017164
2019          -0.012865
2020          -0.097673
2021          -0.003941

In [50]:
fri = pd.read_excel('dados_FRI_BR.xlsx')
fri.drop([0,1], axis = 0, inplace = True)
fri.index = fri['Year']
fri.drop('Year', axis = 1, inplace = True)
fri

           FRI
Year
2000  3.604167
2001  3.604167
2002  3.604167
2003  3.604167
2004  3.604167
2005  3.604167
2006  3.604167
2007  3.604167
2008  3.604167
2009  3.604167
2010  3.604167
2011  3.604167
2012  3.604167
2013  3.604167
2014  3.604167
2015  3.604167
2016  4.402778
2017  4.402778
2018  4.402778
2019  4.402778
2020  4.402778
2021  4.402778

In [53]:
data_for_corr = pd.concat([fri, df], axis=1)
data_for_corr.to_excel('data_for_corr.xlsx')